
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --header-font: 'Noto Sans', sans-serif;
    --subheader-font: 'Ubuntu', serif;
    --body-font: 'PT Serif', sans-serif;
    --background-color: #FFFFFF;
    --hf-color: #F7F6F2;
    --mf-color: #4B6587;
    --box-background: #171717;
    --selection-color: #c9bf38d9;
}

body{
    background-color: var(--background-color);
    font-family: var(--body-font);
    line-height: 1.5;
    letter-spacing: 1.5px;
    font-size: 18px;
    font-weight: 400;
    color: var(--box-background);
    width: 85%;
    margin: auto;
}

.centered {
    text-align: center;
}

.on-focus {
    background-color: var(--selection-color);
}

.divider {
    width: 90%;
    margin: 20px auto;
    border-top: 1px;
    background-color: var(--box-background);
}

.emphasis {
    font-weight: bold;
}

.flashes {
    color: rgb(209, 155, 6);
    font-size: 14px;
    margin-top: 20px;
}


/* link handling */
a {
    text-decoration: none;
}

::selection{
    background: var(--selection-color);
}


/* navigation bar styling  */
.nav-content {
    background-color: var(--box-background);
    color: var(--background-color);
    padding: 0 17px;
    margin-bottom: 50px;
    margin-top: 5px;
    border-radius: 3px;
    
}
.nav-content a{
    color: var(--background-color);
}
.navbar-elements {
    display: inline-block;
    vertical-align: middle;
    width: 48%;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
}

ul {
    list-style: none;
}

.nav-item{
    width: auto;
    display: inline-block;
    vertical-align: top;
    font-size: 15px;
    font-weight: 200;
    margin-right: 10%;
    
}

.nav-item a:hover {
    color:#bfbfbf;
}

.navbar-brand {
    display: inline-block;
    vertical-align: top;
    font-size: 20px;
    font-weight: 800;

}





/* HEADER SECTION STYLING  */

#header {
    background-image: url('../images/main-page.jpeg');
    color: var(--background-color);
    height: 550px;
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: cover;
    margin-bottom: 80px;
    

}

.header-cover {
    height: 100%;
    backdrop-filter: contrast(50%);
}

.header-title{
    width: 70%;
    font-family: var(--header-font);
    font-weight: 600;
    font-size: 50px;
    margin: 0 auto 30px auto;
    padding-top: 80px
}


.hearder-info {
width: 70%;
margin: 0 auto 80px auto;
font-size: 20px;
}

.btn-attention-header{
    padding: 17px 30px;
    color: var(--box-background);
    font-family: var(--header-font);
    font-size: 24px;
    margin-bottom: 50px;
    border-radius: 5px;
}

.btn-attention-header:hover{
    background-color: #9a8e0c;
}

.btn-attention-header:active{
    background-color: #5b8bca;
}

/* STYLING SUMMERY SECTION  */

.about-summary{
    font-family: var(--header-font);
    color: var(--box-background);
    width: 100%;
}

.about-summary-item{
    display: inline-block;
    width: 32%;
    vertical-align: top;
}

.abut-summary-icon{
    color: var(--box-background);
    font-size: 32px;
    margin-bottom: 14px;
    font-weight: 700;
}
.about-header{
    font-weight: 500;
    font-size: 26px;
}

.about-summary-info {
    margin: 14px auto 40px auto;
    font-family: var(--body-font);
    width: 80%;
}


/* VENUE DESCRIPTION STYLING  */

.venue-info {
    width: 90%;
    margin: 70px auto;
    color: var(--box-background);
}


/* HOW IT WORKS SECTION */

.explain-product {
    font-family: var(--header-font);
    color: var(--box-background);
}

.explain-product-entry{
    display: inline-block;
    vertical-align: top;
    width: 48%;
    margin: 50px auto;
    height: 80%;
}

.explain-photo{
    width: auto;
    height: auto;
    max-width: 98%;
    max-height: 250px;
}

.about-header{
    margin: 20px auto;
}

.explain-info {
    font-family: var(--body-font);
    text-align: center;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}


/* CAFE ENTRY STYLING  */

.articles-header {
    width: 80%;
    margin-left: 5%;
}
.card-link {
    color: var(--box-background);
}

.cafes-header {
    font-family: var(--header-font);
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 5px;
}


.cafes-header-info{
    width: 60%;
    /* font-family: var(--body-font);  duplicate*/
    font-size: 16px;
    line-height: normal;
}



/* CAFE CARD STYLING */


#cafes-entry {
    width: 80%;
    margin-left: 5%;
}

.cafe-card {
    margin-top: 50px;
    
}
.cafe-card:hover {
    border-radius: 2px;
    background-color: #f8f8f8;
}



.card-items{
    display: inline-block;
    vertical-align: top;
}

.cafe-card-img{
    width: 200px;
    height: 180px;
}


.cafe-card-info {
    margin-left: 15px;
    width: 60%;
}

.card-title-info{
    margin-bottom: 17px;
}

.card-info {
    display: inline-block;
    vertical-align: top;
}

.card-ratings {
    float: right;
    
    padding-inline-start: 3px;
    border-style: solid;
    border-radius: 8px;
    font-size: 12px;
}

.green-rating {
    color: #088608;
    border-color: #088608;
}

.yellow-rating {
    color: #e3d218;
    border-color: #e3d218;
}

.yellow-rating:hover{
    color: #eee373;
    border-color: #eee373;
}



.red-rating {
    color: #e34d4d;
    border-color: #e34d4d;
}

.red-rating:hover{
    color: #f28888;
    border-color: #f28888;
}

.card-ratings-item {
    display: inline-block;
    vertical-align: top;

}
.fa-heart{
    margin-top: 3px;
}

.green-rating:hover{
    color: #7fc97f;
    border-color: #7fc97f;
    border-radius: 5;
}

.available {
    font-size: 14px;
    font-weight: 300;
}

.available-item {
    margin-bottom: 17px;
}


/* FORM STYLING  */

.join{
    text-align: left;
    width: 60%;
    margin: 30px auto;
}


.form-header{
    font-family: var(--header-font);
    font-size: 32px;
}

.btn-mid {
    display: block;
    width: 120px;
    height: 40px;
    background-color: #9a8e0c;
    border-radius: 5px;
    text-align: center;
    color: var(--box-background);
    padding-top: 5px;
}

.btn-mid:hover, .btn-default:hover{
    background-color: #c1b42a;
}

.to-login-link {
    margin: 17px 0 50px;
}





.form-group {
    margin: 24px auto;
}

.control-label{
    display: block;
    color: var(--box-background);
    font-family: var(--header-font);
    font-weight: 500;
    width: 40%;
    margin: 5px auto 5px 0;
    text-align: left;
}

.form-control {
    display: block;
    margin: 5px auto 5px 0;
    width: 40%;
    height: 40px;
    padding: 10px;
    border-radius: 3px;
    font-family: var(--body-font);
}

.btn-default {
    border-color: #9a8e0c;
    width: 120px;
    background-color: #9a8e0c;
    height: 45px;
    border-radius: 5px;
    font-family: var(--body-font);
    line-height: 1.5;
    letter-spacing: 1.5px;
    font-size: 18px;
    font-weight: 400;
    }



/* ***************************** USER PROFILE **************** */

.user-card {
    text-align: center;
    margin-top: 100px;
}

.user-header {
    margin: 17px auto;
    font-family: var(--header-font);
}

.logout-btn {
    margin: 30px auto;
}


/* FOOTER STYLING  */
.footer {
    background-color: var(--box-background);
    margin: 50px auto 10px auto;
    padding-top: 12px;
    padding-bottom: 12px;
    color: var(--background-color);
    border-radius: 5px;
}
.header-items {
    width: auto;
    margin: 0px 15px 5px 0px;
    font-size: 14px;
    font-weight: 300;
    
}

.footer-entry {
    display: inline-block;
    vertical-align: top;
}

.social-icon {
    display: inline-block;
    vertical-align: top;
}

.copyright {

    font-size: 12px;
    font-weight: 300;
    color: #a1a1a172;
}

