<footer class="footer centered">
    <div>
        <p class="footer-entry header-items"> Flow us</p>
        <p class="footer-entry header-items"> Give Feedback</p>
    </div>
    <div class="social">
        <p class="social-icon header-items"><i class="fa-brands fa-twitter"></i></p>
        <p class="social-icon header-items"><i class="fa-brands fa-instagram"></i></p>
        <p class="social-icon header-items"><i class="fa-brands fa-facebook"></i></p>
    </div>
    <p class="copyright"><i class="fa-solid fa-copyright"></i> {{ year }} with smile</p>
</footer>
</body>
</html>