<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@400;900&family=Noto+Sans:wght@400;500;700;900&family=PT+Serif:wght@400;700&family=Ubuntu+Mono:ital@1&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f17e85e884.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Remote work Friendly</title>
</head>
<body>
    <nav class="nav-content">
        <a href="{{ url_for('home') }}" class="navbar-elements"><i class="fa-solid fa-globe"></i> Remote Work Friendly</a>
        <div class="navbar-elements navbar-tems">
            <ul>
                <li class="nav-item"><a href="{{ url_for('search_city') }}"><i class="fa-sharp fa-solid fa-magnifying-glass"></i> Search City</a></li>
                <li class="nav-item"><a href="{{ url_for('add_cafe') }}"><i class="fa-solid fa-circle-plus"></i> Add Cafe</a></li>
                {% if user.is_authenticated %}
                    <li class="nav-item"><a href="{{ url_for('user_profile') }}"><i class="fa-regular fa-user"></i> {{ user.name }}</a></li>
                {% else %}
                    <li class="nav-item"><a href="{{ url_for('register') }}"><i class="fa-solid fa-users"></i> Join Community</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
{% block content %}

{% endblock%}
